* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    overflow: hidden;
     background-image:url('../../public/impressoes.jpg');
      background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
    
    
}

.titulo-menu {
    text-align: center;
    font-size: 50px;
    padding-top: 15px;
    height: 10vh;
}

.menu-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85vh;
    padding: 0 20px;
    border-radius: 5%;
}

.caixa-esquerda {
    width: 450px;
    height: 650px;
    background-color: #dcdcdc;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0.85;
    border-radius: 5%;
}

.imagem-voltar {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: block;
}

.caixa-centro {
    text-align: center;
    flex: 1;
    max-width: 450px;
}


.caixa-centro h2 {
    color: #0066b2;
    margin-top: 15px;
    font-size: 28px;
}

.caixa-centro p {
    color: #0077b6;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}

.caixa-direita {
    width: 450px;
    height: 650px;
    background-color: #dcdcdc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 80px; 
    gap: 20px;
    opacity: 0.85;
    border-radius: 5%;
}

button {
    width: 100%;
    height: 50px;
    background-color: #2b56b5;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30%;
}

button:hover {
    background-color: #1d3f8a;
}